.style-clickable {
  cursor: pointer;
}

.style-full-screen {
  height: 100vh;
  width: 100vw;
}

.style-layout-header {
  background-color: white;
  padding: 0 20px;
}

.style-layout-contents {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.style-back-btn {
  position: absolute;
  left: 20px;
  top: 20px;
}

.style-loading,
.style-failed {
  height: 100%;
  width: 100%;
}

.icon-btn-center,
.style-loading,
.style-failed {
  display: flex;
  align-items: center;
  justify-content: center;
}
